/**
 *  YPCheckbox HTML structure
 *  <span class="ypcheckbox">
 *    <span class="ypcheckbox__check>
 *        <span class="ypcheckbox__mark"></span>
 *    </span>
 *    <span class="ypcheckbox__label"></span>
 *  </span>
 */

.ypcheckbox {

}
    .ypcheckbox_checked {

    }
    .ypcheckbox__check {
        border: 2px solid red;
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 5px;
        padding: 2px;
        cursor: pointer;
        vertical-align: middle;
        margin-right: 5px;
    }
    .ypcheckbox__mark {
        width: 100%;
        height: 100%;
        background: red;
        vertical-align: middle;
        border-radius: 5px;
        display: none;
    }
    .ypcheckbox_checked .ypcheckbox__mark {
        display: inline-block;
    }
    .ypcheckbox__label {
        vertical-align: middle;
    }